snowflake-connector-python
snowflake-sqlalchemy
pandas
numpy
dbt-snowflake
apache-airflow
scikit-learn
xgboost
mlflow
shap
fastapi
uvicorn
great_expectations
requests
matplotlib
seaborn
jupyterlab
pytest
black
sqlfluff
pre-commit
imbalanced-learn
astronomer-cosmos
